{% assign dayWeek = site.time | date: "%-A" %}
{% assign month = site.time | date: "%-m" %}
{% assign anioPub = site.time | date: "%Y" %}
{% case month %}
  {% when '1' %}{% assign month = 'Enero' %}
  {% when '2' %}{% assign month = 'Febrero' %}
  {% when '3' %}{% assign month = 'Marzo' %}
  {% when '4' %}{% assign month = 'Abril' %}
  {% when '5' %}{% assign month = 'Mayo' %}
  {% when '6' %}{% assign month = 'Junio' %}
  {% when '7' %}{% assign month = 'Julio' %}
  {% when '8' %}{% assign month = 'Agosto' %}
  {% when '9' %}{% assign month = 'Setiembre' %}
  {% when '10' %}{% assign month = 'Octubre' %}
  {% when '11' %}{% assign month = 'Noviembre' %}
  {% when '12' %}{% assign month = 'Diciembre' %}
{% endcase %}
{% case dayWeek %}
  {% when 'Sunday' %}{% assign dayWeek = 'Domingo' %}
  {% when 'Monday' %}{% assign dayWeek = 'Lunes' %}
  {% when 'Tuesday' %}{% assign dayWeek = 'Martes' %}
  {% when 'Wednesday' %}{% assign dayWeek = 'Miércoles' %}
  {% when 'Thursday' %}{% assign dayWeek = 'Jueves' %}
  {% when 'Friday' %}{% assign dayWeek = 'Viernes' %}
  {% when 'Saturday' %}{% assign dayWeek = 'Sábado' %}
{% endcase %}
{% case anioPub %}
  {% when '2017' %}{% assign anioPub = 'I' %}
  {% when '2018' %}{% assign anioPub = 'II' %}
  {% when '2019' %}{% assign anioPub = 'III' %}
  {% when '2020' %}{% assign anioPub = 'IV' %}
  {% when '2021' %}{% assign anioPub = 'V' %}
  {% when '2022' %}{% assign anioPub = 'VI' %}
  {% when '2022' %}{% assign anioPub = 'VII' %}
{% endcase %}

<!--<div class="row header">
  <div class="title">
    <a href="{{ site.url }}{{ site.baseurl }}/"><h1 class="text-center">{{ site.title }}</h1></a>
  </div>


</div>-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{site.url}}{{site.baseurl}}/"><img src="{{ "/assets/img/logo.png" | prepend: full_base_url }}" alt="" style="width:209px; height:24px;"> </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav js-nav">
        <li><a href="{{site.url}}{{site.baseurl}}/">Inicio</a></li>
        <li><a href="{{site.url}}{{site.baseurl}}/ediciones">Ediciones</a></li>
        <li><a href="{{site.url}}{{site.baseurl}}/noticias">Noticias</a></li>
        <li><a href="{{site.url}}{{site.baseurl}}/contacto">Contacto</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="/busqueda.html" method="get">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Buscar publicaciones" aria-describedby="search-box" id="search-box" name="query">
            <div class="input-group-btn">
              <button class="btn btn-default btn-default-search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
<div class="header">
  {% if include.bg == "index-full" %}
  <div class="header-top">
    <p>
      <span class="title">interme<u>DIARIO</u></span>
      <br>
      <span class="subtitle">Periódico especializado en publicaciones legales</span>
    </p>
  </div>
  {% elsif include.bg == "post" %}
  <div class="post-top"></div>
  {% elsif include.bg == "news" %}
  <div class="news-top">
    <p>
      <span class="title">Noticias | Próximamente</span>
    </p>
  </div>
  {% elsif include.bg == "contact" %}
  <div class="contact-top"></div>
  {% endif %}

  <!--<div class="strip-date">
    <div class="col-sm-6">Año {{ anioPub }}</div>
    <div class="hidden-xs col-sm-6 text-right">Montevideo {{dayWeek}} {{ site.time | date: "%d" }} de {{month}} de {{ site.time | date: "%Y" }}</div>
    <div class="col-sm-6 visible-xs">Montevideo {{dayWeek}} {{ site.time | date: "%d" }} de {{month}} de {{ site.time | date: "%Y" }}</div>
  </div>-->
</div>

