{% assign year = page.date | date: '%Y' %}
<div class="container-fluid">
  <div class="col-md-3">
    <nav class="sidebar">
      {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%-m %Y'" %}
      <!--<div>
      </div>-->
      <!--<form action="/search.html" method="get">
        <label for="search-box">Search</label>
        <input type="text" id="search-box" name="query">
        <input type="submit" value="search">
      </form>-->

      
      <h4>EDICIONES</h4>
      <ul>
      
      {% for year in postsByYear %}
        {% assign mes = year.name | split: ' ' %}
        {% assign y = mes.last %}
        {% case mes.first %}
          {% when '1' %}{% assign mes = 'Enero' %}
          {% when '2' %}{% assign mes = 'Febrero' %}
          {% when '3' %}{% assign mes = 'Marzo' %}
          {% when '4' %}{% assign mes = 'Abril' %}
          {% when '5' %}{% assign mes = 'Mayo' %}
          {% when '6' %}{% assign mes = 'Junio' %}
          {% when '7' %}{% assign mes = 'Julio' %}
          {% when '8' %}{% assign mes = 'Agosto' %}
          {% when '9' %}{% assign mes = 'Setiembre' %}
          {% when '10' %}{% assign mes = 'Octubre' %}
          {% when '11' %}{% assign mes = 'Noviembre' %}
          {% when '12' %}{% assign mes = 'Diciembre' %}
        {% endcase %}

        <li class="t">{{ mes }} {{ y }}</li>
          <ul>
            {% for post in year.items %}
              <li><a href="{{ post.url }}">{{ post.fecha_visible}} Año {{ post.anioPub }} No {{ post.titulo | remove:'Numero '}}</a></li>
            {% endfor %}
          </ul>
      {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="col-md-9">
    <section class="publicacion">
      <ul id="search-results"></ul>
      <div class="row post-date">
        <div class="col-md-6">
          {% if page.content == "" %}
            {% for p in site.posts limit:1 %}
              <strong>Año {{ p.anioPub }} | {{ p.titulo }} | Edición Fecha: {{ p.date | date: "%d.%m.%Y"}}</strong><br>
              <a href="{{site.url}}{{site.baseurl}}/assets/publicaciones/{{ p.link_archivo }}">Link para descargar edición impresa</a><br>
            {% endfor %}
          {% else %}
            <strong>Año {{ page.anioPub }} | {{ page.titulo }} | Edición Fecha: {{ page.date | date: "%d.%m.%Y"}}</strong><br>
            <a href="{{site.url}}{{site.baseurl}}/assets/publicaciones/{{ page.link_archivo }}">Link para descargar edición impresa</a><br>
          {% endif %}

        </div>
        <div class="col-md-6">
          <div class="pull-right">
            {% if page.content == "" %}
              {% for p in site.posts limit:1 %}
                <a href="mailto:?subject=Intermediario: {{p.fecha_visible}} {{p.titulo}}&amp;body=Link de la publicacion, {{site.url}}{{site.baseurl}}{{p.url}}" title="Compartir por Email">
              {% endfor %}
            {% else %}
                <a href="mailto:?subject=Intermediario: {{page.fecha_visible}} {{page.titulo}}&amp;body=Link de la publicacion, {{site.url}}{{site.baseurl}}{{page.url}}" title="Compartir por Email">
            {% endif %}
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </a>
            <a href="#" onclick="window.print()">
              <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" id="printable-area">
          <div class="row" id="membrete">
            <div class="col-xs-12">
              <h2><img src="{{ "/assets/img/logo.png" | prepend: full_base_url }}" alt="" style="width:320px; height:40px;"></h2>
              <div class="row">
              {% if page.content == "" %}
                {% for p in site.posts limit:1 %}
                  <div class="header-bottom-left">Año {{ p.anioPub }} | {{ p.titulo }}</div>
                  <div class="header-bottom-right">Montevideo, {{ p.date | date: "%d/%m/%Y"}}</div>
                {% endfor %}
              {% else %}
                  <div class="header-bottom-left">Año {{ page.anioPub }} | {{ page.titulo }}</div>
                  <div class="header-bottom-right">Montevideo, {{ page.date | date: "%d/%m/%Y"}}</div>
              {% endif %}
              </div>
            </div>
          </div>
          {% if page.content == "" %}
            {% for p in site.posts limit:1 %}
              {{ p.content }}
            {% endfor %}
            
          {% else %}
            {{ page.content }}
          {% endif %}
        </div>
      </div>
    </section>
  </div>
  <!--<script>
    window.store = {
      {% for post in site.posts %}
        "{{ post.url | slugify }}": {
          "title": "{{ post.title | xml_escape }}",
          "author": "{{ post.author | xml_escape }}",
          "category": "{{ post.category | xml_escape }}",
          "content": {{ post.content | strip_html | strip_newlines | jsonify }},
          "url": "{{ post.url | xml_escape }}"
        }
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    };
  </script>-->
</div>


