{% assign year = page.date | date: '%Y' %}
<!--<p>{{year}}</p>-->
{% for p in site.data.publicaciones.publicaciones %}
<section class="publicacion">

<div class="row">
  <div class="col-md-8">
    <strong>Año {{ page.date | date: "%Y"}} | 
    Publicación {{ forloop.rindex }} |
    Fecha: {{ p.date | date: "%d/%m/%Y"}}</strong>
  </div>
  <div class="col-md-4">
    <a href="{{ p.link }}" class="pull-right">Link para descargar edición impresa</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {% for e in p.empresas %}
      <h3 class="company-title">{{ e.titulo }}</h3>
      <p class="company-description" style="text-align: justify;">{{ e.descripcion }}</p>
    {% endfor %}
  </div>
</div>
</section>
<hr>
{% endfor %}

<!--<h2>Archive</h2>
{% assign postsByYearMonth = site.data.publicaciones.publicaciones | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
{% for yearMonth in postsByYearMonth %}
  <h3>{{ yearMonth.name }}</h3>
    <ul>
      {% for post in yearMonth.items %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}-->