<div class="row">
  <div class="col-md-8 col-md-offset-2" style="height: 60vh;position:relative;">
    <h2 class="text-center">Gracias por contactarnos</h2>
    <h4 class="text-center">Nos estaremos comunicando a la brevedad</h4>
    <p class="text-center"><a href="/" class="text-center">Ir a la página de inicio</a></p>
<br>
<br>
        <p class="text-center">
        <span class="glyphicon glyphicon-envelope"></span>
        intermediario@asesur.com.uy
        <br>
        <span class="glyphicon glyphicon-home"></span>
        Divina Comedia 1651
        <br>
        <span class="glyphicon glyphicon-menu-right"></span>
        Montevideo, Uruguay
        </p>
  </div>
</div>