@media print {
  @page {
    size: A4 portrait;
    font-family: 'Open Sans', sans-serif !important;
  }
  body {
    overflow:visible;
  }
  .post-date,
  .sidebar,
  .container {
    display: none;
  }
  #membrete {
    background-color: #023c77 !important;
    padding: 10px;
    margin-bottom: 20px;
    color: #eee !important;
    position: relative;
  }
  #membrete h2{
    font-size: 16pt;
    text-align: center;
  }
  #membrete p {
    font-size: 14pt;
  }
  #membrete .header-bottom {
    &-left,
    &-right {
      width: 50%;
      height: 20px;
      // display: block;
      position: absolute;
      bottom: 0;
      color: #eee;
      float: left !important;
      padding: 10px;
    }
    &-left {
      // background-color: yellow;
      left: 0;
    }
    &-right {
      // background-color: green;
      right: 0;
      text-align: right
    }
  }
  div,
  nav {
    float: none !important;
  }
  body, html {
    // height: 100%;
    float: none !important;
  }
  // body {
  //   overflow:visible;
  // }
  #printable-area {
    float: none !important;
    min-height: 80vh;
  }
  p {
    font-size: 12pt;
    text-align: justify;
    page-break-inside: avoid !important;
    position: relative;
  }
  h2 {
    font-size: 14pt;
    page-break-before: auto;
    page-break-after: avoid !important;  
    position: relative;
  }
  footer {
    background-color: #023c77;
    color: #eee;
    padding: 10px;
  }
  footer p {
    text-align: center !important;
  }
  hr {
    border: 1px solid #fff;
    // page-break-before: avoid !important;
  }
  .main-wrapper {
    float: none !important;
    position: relative;
  }
}