body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #eee;
  height: 100vh;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../assets/img/back3.jpg");

  /* Full height */
  height: 90vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
    align-items: center;
    justify-content: center;
  span {
    font-size: 1.75rem;
    color: #ddd;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    text-shadow: 2px 2px #222;

    
  }

}

.navbar {
  margin-bottom: 0px;
}
.main {
  background-color: #fff;
  padding: 20px;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 80vh;
  h2 {
    font-size: 1.5rem;
  }
}
// .header {
//   background-color: #0360a6;
//   height: 10vh;

//   // height: 130px;
//   // margin: 20px;
// }
.strip {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.strip-date {
  background-color: #033088;
  color: #eee;
  margin: 0;
  padding: 5px;
  font-size: 1rem;
}
.title {
  font-weight: bold;
  font-size:2rem;
  h1 {
    color: #fff;
  }
}

footer {
  height: 20vh;
  padding: 20px;
}

.company-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.company-description {
  font-size: 1.2rem;
  font-style: italic;
}


/*****************************/
/*           NAV             */
/*****************************/

#publicaciones {
  height:40vh;
}

li {
  list-style-type: none;
}

.publicacion {
  padding: 20px;
}