body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

hr {
  border: 1px solid #eee;
  margin-bottom: 40px;
  margin-top: 40px;
}

.header-top,
.post-top,
.contact-top,
.news-top {
  background-size: cover;
  background-color: #339;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.post-top,
.contact-top,
.news-top {
  padding-top: 70px;
  height: 20vh;
  @media (min-width: 768px) {
    height: 30vh;
  }
}
.post-top {
  background-image: url('../assets/img/post-back.jpg');
}
.contact-top {
  background-image: url('../assets/img/contact-back.jpg');
}
.news-top {
  background-image: url('../assets/img/news-back.jpg');
}

.header-top {
  background-image: url('../assets/img/back.jpg');
  
  padding-top: 70px;
  
  color: #eee;
  letter-spacing: 1px;
  height: 90vh;
  @media (min-width: 768px) {
    height: calc(100vh);
  }
  .title {
    color: #eee;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    @media (min-width: 768px) {
      font-size: 3rem;
      letter-spacing: 1rem;
    }
  }
  .subtitle {
    font-size: 1.2rem;
    @media (min-width: 768px) {
      font-size: 1.5em;
      letter-spacing: 0.05rem;
    }
  }
  &:hover {
    color: #eee;
  }
}

.strip-date {
  height: 10vh;
  // min-height: 40px;
  color: #eee;
  background-color: #023c77;
  // height: 40px;
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  @media (min-width: 768px) {
    height: 40px;
  }
}

.section {
  min-height: 100vh;
}




.navbar .navbar-nav {
  float: none;
  display: inline-block;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.glyphicon-search {
  color: #eee;
}
.btn-default-search {
  background-color: #023c77;
}
.navbar-default {
  background-color: #023c77;
  border-color: #014890;
}
.navbar-default .navbar-brand {
  color: #dddddd;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #dddddd;
}
.navbar-default .navbar-nav > li > a {
  color: #dddddd;
  padding: 15px 10px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #014890;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #014890;
}
.navbar-default .navbar-toggle {
  border-color: #014890;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #014890;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #dddddd;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #dddddd;
}
.navbar-default .navbar-link {
  color: #dddddd;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #dddddd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #014890;
  }
}


#noticias,
.contact {
  padding-top: 40px;
  padding-bottom: 80px;
}
.news-content {
  column-count: 1;
  text-align: justify;
  @media (min-width: 768px) {
    column-count: 2;
  }
}

footer {
  background-color: #023c77;
  color: #ddd;
  padding: 20px 0;
}

h2 {
  font-size: 1.5rem;
}

#membrete {
  display: none;
}

.company-description {
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 20px;
}

.post-date {
  padding: 10px 0;
}

.sidebar {
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ccc;
}
.sidebar h4 {
  // padding-left: 10px;
  letter-spacing: -0.05rem;
  // font-weight: 600;
  color: #000;
}
.sidebar ul {
  padding-top: 10px;
  padding-left: 10px;
}
.sidebar > ul {
  border-top: 1px solid #ccc;
}
.sidebar > ul > li {
  font-weight: bold;
}
.sidebar ul li {
  list-style-type: none;
  margin-left: 0px;
}
.sidebar ul li:last-child {
  padding-bottom: 10px;

}
.sidebar ul li ul li {
  margin-left: -15px
}
#printable-area p {
  text-align: justify;
}

